<% content_for(:header) do %>
  <%=h @source.name %>
<% end %>

<% form_for(@source) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => { :f => f } %>
  
  <p style="text-align:right;">
    <div class="right"><div class="button"><%= f.submit 'Update' %></div>&nbsp; or <%= link_to 'cancel', sources_path %></div>
  </p>
  
<% end %>