<% content_for(:header) do %>
  What did our filters catch?
<% end %>


<% if @data_files.empty? %>

<h2>Oops, you haven't downloaded anything yet!</h2>

<p>
  Head over to <%= link_to "filters", data_file_filters_path -%> and provide BagelBox with stuff you want and wait for it to come on in!
</p>

<% else %>

<table class="data_files_table" cellspacing="0">
  <tr>
    <th>&nbsp;</th>
    <th style="text-align: left;">Name</th>
    <th style="text-align: left;">Source</th>
    <th style="text-align: left;">Status</th>
  </tr>

<% @data_files.each do |data_file| %>
  <tr class="<%= cycle('even','odd') %>">
    <td width="20" style="text-align:center"><%= data_file.downloaded ? image_tag("online.png") : image_tag("offline.png") %></td>
    <td><%= link_to data_file.filename, data_file.location, :title => data_file.meta_data(:skip => [:matcher,:filename,:category,:source_name,:location]).to_yaml %></td>
    <td><%= link_to data_file.source.name, edit_source_path(data_file.source) %></td>
    <td>
      <% if data_file.failed %>
        <span style="color:crimson;">FAILED</span> <%= link_to "Retry?", download_data_file_path(data_file) -%>
      <% elsif data_file.downloading %>
        Downloading
      <% elsif data_file.downloaded %>
        Completed
      <% else %>
        <%= link_to "Download now", download_data_file_path(data_file) -%>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<% end %>