<% content_for(:header) do %>
  Settings
<% end %>

<%= render :partial => "sub_menu" -%>

<table class="settings_table" cellspacing="0">
  <tr>
    <th>Description</th>
    <th>Value</th>
  </tr>

<% @settings.each do |setting| %>
  <tr class="<%= cycle('even','odd') %>">
    <td><%=h setting.description %></td>
    <td><%=h setting.value %></td>
    <td width="80" style="text-align:right;"><%= link_to 'Edit', edit_setting_path(setting) %></td>
    
    <% if RAILS_ENV == 'development' %>
    <td width="80" style="text-align:right; padding-right: 10px;"><%= link_to 'Remove', setting, :confirm => 'Are you sure?', :method => :delete, :class => 'remove_link' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if RAILS_ENV == 'development' %>
<br />
<p style="text-align:right">
  <div class="button right"><%= link_to 'Add a new setting', new_setting_path %></div><br/>
</p>
<% end %>