<% content_for(:header) do %>
  <%= @data_file_filter.name %>
<% end %>

<% form_for(@data_file_filter) do |f| %>
  <%= f.error_messages %>
      
    <% clashes = @data_file_filter.clashes( :include_deactivated => @data_file_filter.negative ).collect{ |d| link_to d.name, edit_data_file_filter_path(d) } %>
    <% if @data_file_filter.negative and !clashes.empty? %>
      <div id="notice">
        <b>Note:</b> 
        <% if @data_file_filter.negative %>
          This filter has disabled the following positive filter(s): <%= clashes.to_sentence %>
        <% end %>
      </div>
    <% end %>
    
    <table class="input_table">
      
      <tr id="custom_field">
        <td colspan="2" style="padding:0px;">
          <table style="width:100%">
            <tr>
              <td width="170" style="vertical-align:middle;"><%= f.label :name %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td><%= f.label :expression %></td>
              <td>
                <%= f.text_area :expression, :rows => 10 %>
                <small>The expression field accepts any label/value combination. Specify them like this: 'label:"value"'. The value may be a regular expression.<br/>Labels are defined in <%= link_to "File types", data_types_path %>.</small>
              </td>
            </tr>
          </table>        
      </tr>

      <tr>
        <td width="170"><%= f.label :singleton, "One shot?" %></td>
        <td>
          <%= f.check_box :singleton %>
          <small>One shot filters get deactivated once they match, use for single episodes or tracks.</small>
        </td>
      </tr>

      <tr>
        <td width="170"><%= f.label :negative %></td>
        <td>
          <%= f.check_box :negative %>
          <small>Enable if you <b>DON'T</b> want content that matches.</small>
        </td>
      </tr>

      <tr>
        <td width="170"><%= f.label :active %></td>
        <td>
          <% if !@data_file_filter.negative and !clashes.empty? %>
            <small style="color: crimson">This filter cannot be activated due to the existence of more generic negative filters: <%= clashes.to_sentence %></small>
          <% else %>
            <%= f.check_box :active %><small>Only active filters are applied during scraping.</small>
          <% end %>
        </td>
      </tr>

  </table>
  
  <p style="text-align:right;">
    <div class="right"><div class="button"><%= f.submit 'Update' %></div>&nbsp; or <%= link_to 'cancel', data_file_filters_path %></div>
  </p>
  
<% end %>