<% content_for(:header) do %>
  New filter
<% end %>

<% form_for(@data_file_filter) do |f| %>
  <%= f.error_messages %>

  <table class="input_table">
        
    <tr>
      <td width="170">Type:</td>
      <td>        
        <input type="radio" name="expression_type[]" value="tv_show" id="type_tv_show" onchange="handleExpression(this);">
        <label for="type_tv_show">Tv show</label>
        &nbsp; &nbsp;
        <input type="radio" name="expression_type[]" value="movie" id="type_movie" onchange="handleExpression(this);">
        <label for="type_movie">Movie</label>
        &nbsp; &nbsp;
        <input type="radio" name="expression_type[]" value="custom" id="type_custom" onchange="handleExpression(this);">
        <label for="type_custom">Custom</label>        
      </td>
    </tr>

    <tr id="movie_field" style="display:none;">
      <td colspan="2" style="padding:0px;">
        <table style="width:100%;">
          <tr>
            <td style="vertical-align:middle;" width="170">Title</td>
            <td><input type="text" name="movie_title" value="" id="movie_title" onkeyup="buildExpression();"></td>
          </tr>
        </table>
      </td>
    </tr>
    
    <tr id="tv_show_field" style="display:none;">
      <td colspan="2" style="padding:0px;">
        <table style="width: 100%;">
          <tr>
            <td width="170" style="vertical-align:middle;">Title</td>
            <td><input type="text" name="tv_show_title" value="" id="tv_show_title" onkeyup="buildExpression();"></td>
          </tr>
          <tr>
            <td style="vertical-align:middle;">Season / Episode</td>
            <td>
              <input type="text" name="tv_show_season" value="" id="tv_show_season" style="width: 100px;" onkeyup="buildExpression();">
              &nbsp;&nbsp;/&nbsp;&nbsp;
              <input type="text" name="tv_show_episode" value="" id="tv_show_episode" style="width: 100px;" onkeyup="buildExpression();">
            </td>
          </tr>
        </table>
      </td>
    </tr>
            
    <tr id="custom_field" style="display:none;">
      <td colspan="2" style="padding:0px;">
        <table style="width:100%">
          <tr>
            <td width="170" style="vertical-align:middle;"><%= f.label :name %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label :expression %></td>
            <td>
              <%= f.text_area :expression, :rows => 10 %>
              <small>The expression field accepts any label/value combination. Specify them like this: 'label:"value"'. The value may be a regular expression.<br/>Labels are defined in <%= link_to "File types", data_types_path %>.</small>
            </td>
          </tr>
        </table>        
    </tr>
    
    <tr>
      <td width="170"><%= f.label :singleton, "One shot?" %></td>
      <td>
        <%= f.check_box :singleton %>
        <small>One shot filters get deactivated once they match, use for single episodes or tracks.</small>
      </td>
    </tr>
    
    <tr>
      <td width="170"><%= f.label :negative %></td>
      <td>
        <%= f.check_box :negative %>
        <small>Enable if you <b>DON'T</b> want content that matches.</small>
      </td>
    </tr>
    
    <tr>
      <td width="170"><%= f.label :active %></td>
      <td>
        <%= f.check_box :active %><small>Only active filters are applied during scraping.</small>
      </td>
    </tr>
    
</table>


  <p style="text-align: right;">
    <%= f.submit 'Create' %> or <%= link_to 'cancel', data_file_filters_path %>
  </p>
  
<% end %>