<p>
  <b>Name:</b>
  <%=h @data_file_filter.name %>
</p>

<p>
  <b>Expression:</b>
  <pre><%=h @data_file_filter.expression %></pre>
</p>

<p>
  <b>Singleton:</b>
  <%=h @data_file_filter.singleton %>
</p>

<p>
  <b>Negative:</b>
  <%=h @data_file_filter.negative %>
</p>

<p>
  <b>Active:</b>
  <%=h @data_file_filter.active %>
</p>


<%= link_to 'Edit', edit_data_file_filter_path(@data_file_filter) %> |
<%= link_to 'Back', data_file_filters_path %>