<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>BagelBox</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <%= stylesheet_link_tag 'iphone' %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<ul id="main_menu">
  <li class="<%= controller_name == "welcome" ? "selected" : "" %>"><%= link_to "Welcome", "/" %></li>
  <li class="<%= controller_name == "data_file_filters" ? "selected" : "" %>"><%= link_to "Filters", data_file_filters_path %></li>
  <li class="<%= controller_name == "data_files" ? "selected" : "" %>"><%= link_to "Downloads", data_files_path %></li>
</ul>

<div id="body">
  <%= yield %>
</div>

</body>
</html>
