<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>BagelBox</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<h1 id="header"><%= yield :header %></h1>
<ul id="main_menu">
  <li class="<%= controller_name == "welcome" ? "selected" : "" %>"><%= link_to "Welcome", "/" %></li>
  <li class="<%= controller_name == "sources" ? "selected" : "" %>"><%= link_to "Sources", sources_path %></li>
  <li class="<%= controller_name == "data_file_filters" ? "selected" : "" %>"><%= link_to "Filters", data_file_filters_path %></li>
  <li class="<%= controller_name == "data_files" ? "selected" : "" %>"><%= link_to "Downloads", data_files_path %></li>
  <li class="<%= ["settings","log","data_types"].include?(controller_name) ? "selected" : "" %>"><%= link_to "Settings", settings_path %></li>
</ul>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
